body {margin-top: 0px;margin-left: 0px;}

#page_1 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 816px;height: 1344px;}

#page_1 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:816px;height:1344px;}
#page_1 #dimg1 #img1 {width:816px;height:1344px;}




#page_2 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 816px;height: 1344px;}

#page_2 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:816px;height:1344px;}
#page_2 #dimg1 #img1 {width:816px;height:1344px;}




#page_3 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 816px;height: 1344px;}

#page_3 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:816px;height:1344px;}
#page_3 #dimg1 #img1 {width:816px;height:1344px;}




#page_4 {position:relative; overflow: hidden;margin: 0px 0px 0px 0px;padding: 0px;border: none;width: 816px;height: 1344px;}

#page_4 #dimg1 {position:absolute;top:0px;left:0px;z-index:-1;width:816px;height:1344px;}
#page_4 #dimg1 #img1 {width:816px;height:1344px;}

